{% trans_default_domain 'FOSUserBundle' %}
{# On étend notre layout #}
{% extends 'layout.html.twig' %}



{% block content %}

    <div class="containertemplatemini">
        <div class="inscription col m10 blue-grey lighten-5 offset-s1 left-align">
            <div class="row">

                <div class="left-align col s10 offset-s1">

                    <h1 class="lime-text text-darken-2 h1form">Prise en compte de votre demande</h1>

                    <p>
                        Un e-mail vous a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
                        Si vous ne recevez pas d'email, vérifiez votre dossier spam ou essayez à nouveau.
                    </p>

                </div>
            </div>
        </div>
    </div>













{% endblock %}
