<div class="div-footer">
    <footer class=" lime darken-2">
        <div id="logo_et_nom">
            <div>
                <a href="{{ path('index') }}" class="brand-logo"><img src="{{ asset('images/logo-menu.png') }}" class="logo" /></a>
            </div>
        </div>
    </footer>
</div>

