<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Groupe23">
    <link rel="icon" href="../../favicon.ico">

    <title>Minimal Working Template</title>

{% include 'utils/styles.html.twig' %}

<style>
    #map {
        height: 400px;
        width: 400px;
        margin: auto;
        border: 1px solid black;
        box-shadow: 5px 5px grey;
    }
</style>

</head>

<body>

{% include 'menu.html.twig' %}

{% include 'utils/flash-messages.html.twig' %}

    {% block content %}

    {% endblock %}


{% include 'utils/modal.html.twig' %}

{% include 'utils/scripts.html.twig' %}





</body>
</html>
