<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Groupe23">
    <link rel="icon" href="../../favicon.ico">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Minimal Working Template</title>

{% include 'utils/styles.html.twig' %}

<style>
    #map {
        height: 400px;
        width: 100%;
        margin: auto;
    }
    #map-view
    {
        height: 450px;
        width: 100%;
        margin: auto;
    }
    #view-obs-map
    {
        height: 400px;
        width: 100%;
        margin-bottom: 25px;
    }
    #admin-map-edit-obs
    {
        height: 400px;
        width: 400px;
        margin: auto;
    }
    @media all and (max-width: 1024px)
    {
        #map {
            height: 300px;
            max-width: 85%;
            margin: auto;
        }
        #map-view
        {
            height: 400px;
            max-width: 100%;
            margin: auto;
        }
        #view-obs-map
        {
            height: 400px;
            max-width: 100%;
            margin-bottom: 25px;
        }
        #admin-map-edit-obs
        {
            height: 400px;
            max-width: 100%;
            margin: auto;
        }
    }

</style>

</head>

<body>

{% include 'menu.html.twig' %}

{% include 'utils/flash-messages.html.twig' %}

    {% block content %}

    {% endblock %}


{% include 'utils/modal.html.twig' %}

{% include 'utils/scripts.html.twig' %}

{% block scrollspy %}
{% endblock %}
{% block googleMapScript %}
{% endblock %}
{% block contactScript %}
{% endblock %}
<div class="cookie-message z-depth-1">
    <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies, qui permettent de vous offrir un parcours plus fluide et plus rapide.</p>
    <button type="button" class="my-close-button z-depth-2">Compris !</button>
</div>
{% include 'footer.html.twig' %}
</body>
</html>
