<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Groupe23">
    <link rel="icon" href="../../favicon.ico">

    <title>Minimal Working Template</title>

{% include 'utils/styles.html.twig' %}
</head>

<body>

{% include 'menu.html.twig' %}
<div class="container">

    {% block content %}

    {% endblock %}

</div><!-- /.container -->


{% include 'utils/scripts.html.twig' %}
</body>
</html>
