<div class="navbar">
    <nav class="transparent">
        <div class="nav-wrapper lime darken-2">
            <a href="{{ path('index') }}" class="brand-logo"><img src="{{ asset('images/logo-menu.png') }}" class="logo" /></a>
        </div>
    </nav>
</div>
