{% extends "layout.html.twig" %}
{% block content %}

    <div class="main-wrapper">
        <video id="video-oiseaux" preload="auto" autoplay loop >
            <source src="{{ asset('videos/Oiseaux-test-1.mp4') }}" type="video/mp4">
            <source src="{{ asset('videos/Oiseaux-test-1.ogg') }}" type="video/ogg">
            Votre navigateur ne prend pas en charge cette vidéo.
        </video>

        <div class="text-video">
            <a href="{{ path('addObservation') }}"><p>PARTICIPER A NOTRE PROGRAMME DE RECHERCHE</p></a>
        </div>

    </div>
{% endblock %}
