{% extends "layout.html.twig" %}
{% block titre %}confirmation de création de compte{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}

    <div class="containertemplatemini">
        <div class="inscription col m10 blue-grey lighten-5 offset-s1 left-align">
            <div class="row">

                <div class="left-align col s10 offset-s1">

                    <h1 class="lime-text text-darken-2 h1form">Félicitations !</h1>
                    <br />
                    <p>Votre compte a été créé avec succès.</p>
                    <p>Un Email de confirmation vient de vous êtes adressé.<p>
                    <p> Merci de suivre les instructions décrites dans ce mail afin d'activer votre compte.</p>
<br />
                </div>

                <div class="col s10 offset-s1 center-align">

                    <p>
                        <a class="btn-large waves-effect waves-light deep-orange darken-4 btncheck" href="{{ path('index') }}" role="button">Retour accueil</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}
