.cookie-message {
    position: fixed;
    bottom: 0;left:0;right:0;
    z-index: 1000;
    min-height: 70px;
    font-size: 1.1em;
    background-color: #bf360c;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cookie-message p{

    padding-top: 10px;
}

.cookie-message button
{
    margin-left: 25%;
    background-color: #c0ca33;
    border-color: #c0ca33;
}

@media all and (max-width: 1024px)
{
    .cookie-message
    {
        font-size: 0.9em;
        bottom: inherit;
        top: 63px;
    }

    .cookie-message button
    {
        margin-left: 5%;
    }
}

@media all and (max-width: 600px)
{
    .cookie-message
    {
        font-size: 0.9em;
        bottom: inherit;
        top: 58px;
    }
}

