.cookie-message {
    position: fixed;
    bottom: 0;left:0;right:0;
    background:#fff;
    z-index: 1000;
    height: 70px;
    font-size: 1.1em;
    padding-top: 25px;

}

.cookie-message p{
    text-align: center;
}

.cookie-message button
{
    position: absolute;
    right: 50px;
}

@media all and (max-width: 1024px)
{
    .cookie-message
    {
        font-size: 0.5em;
        bottom: inherit;
        top: 50px;
    }

    .cookie-message button
    {
        position: inherit;
    }
}

