html{
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #bf360c;
}

/*avatar page d'observation*/
.frame-round {
    float: right;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 75px;
    height: 75px;
    margin-right: .5em;
    margin-bottom: .3em;
    border-radius: 50%;
    overflow: hidden;
}
.frame-round,.crop {}



.crop {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;}

.imgcrop {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

/*avatar page de profile*/
.profile-frame-round {
    background: transparent;
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    padding: 10px;
    width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-crop {
    margin: auto;

    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;}

.profilimgcrop {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}


div.profilaction div a {
    margin-bottom: 10px;
}



/*encarts er cover mobile*/

#cartecarte{
    display: inline-block;
    width: 140px;
    height: auto;
    float:left;
}

.textecarte{
    display:inline-block;
    width: 140px;
    height: 140px;
    background-color: #c0ca33;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    float: left;
}


#oiseauimage{
    display: inline-block;
    width: 140px;
    height: auto;
    float:right;
}

.texteoiseau{
    display:inline-block;
    width: 140px;
    height: 140px;
    background-color: #c0ca33;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    float: right;
}

#oiseaucontact{
    display: inline-block;
    width: 140px;
    height: auto;
    float:left;
}

.textecontact{
    display:inline-block;
    width: 140px;
    height: 140px;
    background-color: #c0ca33;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    float: left;
    padding-left: 3px;
}

#oiseaufacebook{
    display: inline-block;
    width: 140px;
    height: auto;
    float: right;
    margin-right: -12px;
}

.textefacebook{
    display:inline-block;
    width: 140px;
    height: 140px;
    background-color: #c0ca33;
    float: left;
    vertical-align: center;
    font-size: 20px;
    padding-top: 35px;
    color: white;
    margin-left: -13px;
}

#oiseaunewsletter{
    display: inline-block;
    width: 140px;
    height: auto;
    float:right;
}

.textenewsletter{
    display:inline-block;
    width: 140px;
    height: 140px;
    background-color: #c0ca33;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    float: right;
}

#dernier_texte{
    text-align: justify;
}

/* bloc presentation accueil*/

.imagecentre{
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    vertical-align: center;

}

#imagecentre{
    width: 100%;
    margin-top: 30px;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
}

#textegauche{
    float: left;
    display:inline-block;
    vertical-align: center;
}

#textedroit{
    float: right;
    display:inline-block;
    vertical-align: center;
    text-align: right;
}

/*/////////////*/

.container
    {
        min-height: 700px;
    }

.police32{
    font-size: 15px !important;
}

.brand-logo img {
    width: 266px
}

.containertemplate {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-large{
    text-transform : lowercase;
    height: 36px;
    line-height: 36px;
    vertical-align: center;
    font-size: 16px;
}

.profil{
    padding: 10px;
}

.actualite{
    padding : 10px;
}

.article{
    padding : 10px;
}

.addactualite{
    padding: 10px;
}

/* page actualités" */

h2 a{
    color: #37474f;
}

#articleh1{
    font-size: 40px !important;
}

#articleh2{
    font-size: 24px !important;
}

.pagination li.active{
    background-color: #c0ca33;
}


.titrearticles{
    padding-bottom: 50px;
}

.datearticles{
    display: inline-block;
}
.listarticle{
    margin-bottom: 60px;
}

.lirearticle{
    float : right;
}

.imagearticles{
    width: 215px;
    float: left;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 5%;
}

.imagearticlesmobile{
    display: none;
}

/* page article */

.imagearticle {
    border-radius: 2px;
    width: 215px;
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#nbcomment{
    display: inline-block;
    float: right;
}

.commenttitle{
    font-size: 10px;
}


/* boutons de la page article */

.articlebtn{
    width: 154px;
    text-align: center;
}

#editarticle{
    text-align: center;
}

#articleretour{
    float: left;
}

#articlecommenter{
    float: right;
    margin-left: 10%;
    margin-right: 10%;
}

#articleusercommenter{

    float: right;
    margin-left: auto;
    margin-right: auto;
}

/* affichage commentaires */

#commentauthor{
    color: #afb42b;
}

#commentsignaled{
    color: grey;
    font-style: italic;
    font-size: 12px;
}

#commentcontent{
    color: #37474f;
}
#commentdate{
    color: #37474f;
}

.iconescommentaires{
    color: grey;
    display: inline-block;
    margin-top : 15px
}

.hoveric{
    width: 100px;
}



.hovericone span{
    position:absolute;
    margin:0;
    left: 20px;
    right:0;
    bottom:0;
    opacity:0;
    height:100%;
    text-align:center;
    font-family: Roboto, Times, serif;
    transition:all .7s;
    color: #eceff1;
}

.hovericone a:hover span{
     bottom: 0;
     opacity:1;
     color: #afb42b;
}

.couleuricone{
    color: #afb42b;
}

.articleComments{
    margin-top: 20px;
}
/* Formulaire commentaire*/
.h1comment{
    font-size: 36px !important;
}



nav li:hover {
    background-color: #cddc39;
}
.dropdown-content li:hover {
    background-color: #cddc39;
}
.waves-effect.waves-rednao .waves-ripple {
    background-color: #bf360c;
}

@media screen and (max-width: 800px) {
    .container {
        width: 98%;
    }
}
table.bordered>tbody>tr {
    border-bottom: 1px solid #cddc39;
}
input[type=search]:not(.browser-default){
    border-bottom: 1px solid ;
}

h1{
    font-size: 50px !important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #bf360c !important;
    -webkit-box-shadow: 0 1px 0 0 #bf360c !important;
    box-shadow: 0 1px 0 0 #bf360c !important;
}

h2{
    font-size: 26px !important;
    margin: 0 !important;
    padding: 0 !important;
}

h3{
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bootstrap-datetimepicker-widget
{
    z-index: 1200   !important;
}

/* PAGE D'ACCUEIL */
.navbar
{
    margin-bottom: 0 !important;
}

.container_accueil
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px !important;
    border-radius: 3px;
    min-width: 85% !important;
}

.container_accueil .row
{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.encart_accueil
{
    height: 150px;
    padding: 0 !important;
    display: flex;
}

.encart_accueil > div
{
    width: 50%;

}

.encart_accueil p
{
    margin: 0;
    padding-top: 17%;
    color: white;
    text-align: center;
    font-size: 30px;
}


.carte_interactive
{
    width: 100%;
    height: 150px;
}

.oiseau_encart_deux
{
    width: 100%;
    height: 150px;
}

.hr_encart
{
    border-color: #afb42b;
}

.titre_nao
{
    font-size: 100px;
}

.block_central
{
    display: flex;
    font-size: 16px;
}

.text_gauche
{
    max-width: 30%;
    text-align: justify;
    padding-right: 15px;
}

.text_droite
{
    max-width: 30%;
    text-align: justify;
    padding-left: 15px;
}

.image_centrale
{
    margin: auto;
}

.accueil_peroquet
{
    width: 480px;
    height:310px;
}

.accueil_block_deux h4
{
    font-size: 20px;
    font-weight: bold;
}

.accueil_last_text p
{
    font-size: 16px;
    text-align: justify;
}

.last_block
{
    margin-top: 25px;
}

.devenir_naturaliste
{
    width: 100%;
    height: 150px;
}

.facebook
{
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
}

.logo_facebook
{
    width: 120px;
    height: 150px;
}

.facebook p
{

    padding-top: 28% !important;
}

.footer
{
    display: flex;
    min-height: 10%;
    width: 100%;
    justify-content: space-between;
}

#logo_et_nom
{
    display: inherit;
}

.logo_footer
{
    height: 200px;
    width: 200px;

}

.nom_footer
{
    height: 100px;
    width: 250px;
}

.nom_footer p
{
    font-size: 20px;
    color: white;
}

.list_footer
{
    color: white;
}

.list_footer span
{
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 20px;
}

.list_footer a
{
    text-decoration: none;
    color: white;
}

.newsletter_facebook
{
    display: flex;
}

.block_middle
{
    padding-left: 10%;
    margin: auto;
}

.block_right
{
    padding-left: 10%;
    margin: auto;
}

.block_right a
{
    color: white;
    text-decoration: none;
}

.newsletter_facebook img
{
    width: 55px;
    height: 55px;
}

.newsletter_facebook p
{
    font-size: 20px;
    color: white;
    margin: auto;
}

/* PAGE AJOUT OBSERVATION */

.container_add_obs
{
    min-width: 85%;
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


#obs-title
{
    margin-bottom: 25px;
}

#map-text
{
    font-style: italic;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 15px;
}

#map-text p
{
    text-align: center;
}


/* PAGE VIEW D'OBSERVATIONS */

.container-viewAllObs
{
    min-width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-map
{
    text-align: center;
    padding-top: 45%;
    font-size: 1.2em;
    font-weight: bold;
}

.titre-infowindow
{
    text-align: center;
    font-size: 0.9em;
}

.text-infowindow
{
    text-align: center;
    font-size: 0.75em;
}

.lat-lng
{
    font-size: 0.75em;
}

.pathObs
{
    font-size: 0.75em;
    margin-top: 10px;
    margin-left: 20%;
    width: 50px;
    color: black;
    text-decoration: none;
    text-transform: none;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    padding: 5px;
}

.gm-style-iw div {
    max-height: 200px !important;
    max-width: 300px !important;
}

.text-identifier
{
    margin-top: 10px;
    font-style: italic;
}

.date-observation input
{
    border-bottom: 2px solid #c0ca33 !important;
}

.add-obs-photo
{
    margin-top: 20px;
}

.add-obs-photo .btn
{
    background-color: #bf360c;
}

.select2-container
{
    max-width: 100%;
}

/* ADD ARTICLE FORM */
/***********************************/


.checkbox label{
display: none;
}


#appbundle_article_enableComments{

}

.control-label{
    color: #c0ca33;
    font-size: 20px !important;
}

.materialize-textarea{
    margin-top: 50px;
    margin-bottom: 15px;

}

.file-field .btn, .file-field .btn-large{
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    width: 160px;
}

.enregistrerarticle{
    width: 160px;
    height : 36px;
    line-height: 36px;
    float:right;

}

/* custom textarea tinymce */

#mceu_37{
    display: none;
}

.mce-container *, .mce-widget span{
    font-family: 'Quicksand', sans-serif;
}

.mce-container, .mce-container * {
    background-color: #afb42b !important;
}
.mce-container-body {
    border: 1px solid #afb42b !important;
}

.mce-btn.mce-disabled button{
    opacity: 1 !important;
}

#mceu_24 :hover{
    background-color: #afb42b !important;
}

.mce-menu-item :hover{
    background-color: #afb42b !important;
}

.mce-menu-shortcut{
    color: #fff !important;
}


.mce-menu-item.mce-selected{
    background-color: #afb42b !important;
    background-image: linear-gradient(to bottom, #afb42b, #afb42b) !important;
}

.mce-menu-item{
    background-color: #afb42b !important;
    background-image: linear-gradient(to bottom, #afb42b, #afb42b) !important;
}
.mce-menu-item :hover{
    color: #bf360c !important;
}

.mce-menu-has-icons i{

    background-color: #afb42b !important;
}

.mce-btn button span{
    color: #fff !important;
}

.mce-ico{
    color: #fff !important;
}

.mce-btn i{
    text-shadow: none !important;
}

.mce-text{
    color: #fff !important;
}

.mce-menubar .mce-caret{
    border-top: 4px solid #fff !important;
}

.mce-menu-item .mce-caret{
    border-left: 4px solid #fff !important;
}

.mce-btn .mce-caret{
    border-top: 4px solid #fff !important;
}

.mce-last{
    color: #fff !important;
}

.mce-panel{
    border : 1px solid #fff !important;
}

/* CONTACT FORM */

.titre_nous_contacter
{
    margin-bottom: 35px;
}

.contact-obligatoire
{
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.container_contact
{
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}


.input-field label {
    color: #c0ca33;
    font-size: 20px;
}

.input-field input[type=text] {

    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=email] {
    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=text].valid
{
    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=email].valid
{
    border-bottom: 2px solid #c0ca33;
}

.input-field textarea{
    border-bottom: 2px solid #c0ca33;
}

.input-field textarea.valid
{
    border-bottom: 2px solid #c0ca33;
}

.valider_contact
{
    display: block;
    margin-left: auto;
}

.block-count-chars
{
    margin-top: -20px;
    margin-bottom: 25px;
}

.block-count-chars p
{
    font-weight: bold;
}

.formbirthday .form-control{
    width: 75px;
    font-size: 1.0em;
    display: inline-block;
}

.list-unstyled > li
{
    color: red;
}

/* PAGE fos */

.fos_user_user_show
{
    margin-left: 50px;
    margin-right: 50px;
}

#fos_user_registration_form
{
    margin-left: 50px;
    margin-right: 50px;

}
#fos_user_change_password_form {
    margin-left: 50px;
    margin-right: 50px;
}
#fos_user_profile_form
{
    margin-left: 50px;
    margin-right: 50px;
}

/* PAGE DASHBOARD */

.block-icone
{
    text-align: center;
    margin-bottom: 30px;
}

.div-icone-user
{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: auto;
}

.icone-user
{
    width: 30px;
    height: 30px;
    margin: auto;
}


/* PAGE MENTIONS LEGALES */

.container_ml
{
    min-width: 85%;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

/* ALERTES */
.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor:pointer;
}

/*Page Detail Observation */



/* PAGE D'ERREUR */

.erreur_perso
{
    margin-top: 150px;
    margin-bottom: 150px;
}

/* MEDIA QUERIES */

@media all and (min-width: 1025px) {

    /* Datatables */
    #admin{
        margin-top: 30px;
    }
    .col-comAuteur{
        width: 15%;
        padding-left: 0;
    }
    .col-comDate{
        width: 10%;
        padding-left: 0;
    }
    .col-comArticle{
        width: 15%;
        padding-left: 0;
    }


    /* Admin des Observations  */

    .col-action{
        width: 10%;
    }
    .col-auteur{
        width: 20%;
    }
    .col-validation{
        width: 5%;
    }
    .col-date{
        width: 10%;
    }
    .col-publication{
        width: 10%;
    }
    .container-table{
        width: 95%;
    }

    /* VIDEO PAGE ACCUEIL */
    #video-oiseaux
    {
        object-fit: initial;
        width: 100%;
        height: 95vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    .text-video
    {

        position: absolute;
        bottom: 20%;

        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 170px;
        font-size: 1.2em;
        text-transform: lowercase;
        transition: 1s;
    }

    .text-video:hover
    {
        transform: scale(1.3);
    }

    .chevron-down
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 50px;
        height: 100px;
    }

    .image_petit_ecran
    {
        display: none;
    }

}

@media all and (max-width: 1200px) {


    .imagecentre{
        width: 60%;
        margin: auto;
        height: auto;
        overflow: hidden;
        vertical-align: center;
    }


    #imagecentre
    {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    #textegauche{
        float: left;
        display:inline-block;
        vertical-align: center;
        text-align: justify;

    }

    #textedroit {
        float: right;
        display: inline-block;
        vertical-align: center;
        text-align: justify;
    }

}


/*masquage des encarts*/
@media all and (max-width: 1120px) {


    .encart_bas{
        display:none;
    }

    .encart_haut{
        display: none;
    }
}



@media all and (max-width: 1024px)
{
    /* adaptation des colonnes datatables responsive  */

    .col-administrateur,
    .col-publication,
    .col-comSignalisation,
    .comunsignal,
    .comdelete{
        display: none;
    }
    .col-comAuteur{
        width: 15%;
        padding-left: 0;
    }
    .col-comDate{
        width: 25%;
        padding-left: 0;
    }

    div.material-table table tr td {
        padding: 0 0 0 15px;
    }

    /* Gestion des commentaires*/
    .col-comDate{
        width: 15%;
        padding-left: 0;
    }

    /* Gestion des observations */
    .col-action{
        width: 15%;
    }
    .col-auteur{
        width: 20%;
    }
    .col-validation{
        width: 5%;
    }
    .col-date{
        width: 22%;
    }
    .col-publication{
        width: 10%;
    }
    .container-table{
        width: 95%;
    }
    /* PAGE D'ACCUEIL */





    #video-oiseaux
    {
        display: none;
    }

    .image_petit_ecran
    {
        visibility: inherit;
        display: inherit;
        object-fit: initial;
        width: 100%;
        height: 95vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    .text-video
    {

        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        width: 170px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        text-transform: lowercase;
    }


    .chevron-down
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 100px;
    }

    .encart_accueil
    {
        display: none;
    }

    .container_accueil
    {
        display: flex;
        flex-direction: column;
    }

    .block_central
    {
        display: initial;
    }

    .text_gauche
    {
        max-width: 100%;
        padding: 0;
    }

    .text_droite
    {
        max-width: 100%;
        padding: 0;
    }

    .accueil_peroquet
    {
        width: 100%;
    }

    .footer
    {
        display: flex;
        flex-direction: column;
    }

    .logo_footer
    {
        margin: auto;
    }

    .nom_footer
    {
        display: none;
    }

    .block_middle
    {
        margin: initial;
    }

    .block_right
    {
        margin: initial;
        margin-bottom: 25px;
    }

    .block_right p
    {
        margin: initial;
        padding-top: 15px;
    }


   .coverimage {
        margin:0;
        padding:0;
        background: url(../images/imagemobile.jpg) no-repeat center fixed;
        -webkit-background-size: cover; /* pour Chrome et Safari */
        -moz-background-size: cover; /* pour Firefox */
        -o-background-size: cover; /* pour Opera */
        background-size: cover; /* version standardisée */
    }


    .containerblanc{
        margin: 0;
        background-color: white;
    }
    .image_petit_ecran
    {
        visibility: hidden;
        display: inherit;
        object-fit: initial;
        width: 100%;
        height: 95vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* PAGE VIEW ALL OBS */

    .champ-responsive-hidden
    {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .modal{
        min-height: 85%;
        min-width: 95%;
    }

    .col-date,
    .col-administrateur,
    .col-publication,
    .search-toggle,
    .modobs-avatar,
    .col-comSignalisation,
    .col-comCom,
    .comunsignal,
    .comdelete{
        display: none;
    }
    .col-comAuteur{
        width: 15%;
        padding-left: 0;
    }
    .col-comDate{
        width: 25%;
        padding-left: 0;
    }




    .col-action{
        width: 15%;
    }
    .col-auteur{
        width: 30%;
    }
    .col-validation{
        width: 15%;
    }



    .containertemplate{
        width: 100%;
        margin: 0;
    }

    .imagearticle {
        width: 60%;
        margin-right: auto;
        margin-left: 20%;
        float: none;
        margin-top: 0;
    }

    .imagearticles{
        display: none;
    }

    .imagearticlesmobile{
        width: 60%;
        margin-left: 20%;
        margin-right: auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 20px;
        display: inline-block;
    }

    .article {
        margin: 0;
    }

    .addactualite{
        margin: 0;
    }

    #articleh1{
        font-size: 35px !important;
    }


    #imagecentre{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .imagecentre{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


}

@media all and (max-width: 600px) {

    .modal{
        min-height: 85%;
        min-width: 95%;
    }

    .col-validation,
    .col-date,
    .col-administrateur,
    .col-publication,
    .modobs-photo,
    .modobs-avatar,
    .col-comSignalisation,
    .col-comArticle,
    .col-comCom,
    .comunsignal,
    .comdelete{
        display: none;
    }
    /* Gestion des commentaires*/
    .col-comDate{
        width: 30%;
        padding-left: 0;
    }

    /* Gestion des oblservations*/
    .col-action{
        width: 20%;
    }
    .col-auteur{
        width: 30%;
    }

    .imagearticle{
        width : 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top : 0;
    }

    .articlebtn {
        width: 65%;
        margin-bottom: 20px;
        padding: 0;
    }

    #articleretour{
        float: none;
    }

    #editarticle{
        float: none;
    }

    #articleusercommenter{
        float: none;
    }

    #articlecommenter{
        float: none;
    }

    .datearticles{
        display: block;
        float: none;
        margin-top: 15px;
    }

    .imagearticles{
        width: 80%;
        margin-left: 10%;
        margin-right: auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #articleh1{
        font-size: 30px !important;
    }

    #imagecentre{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .imagecentre{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media all and (max-width: 400px){

    .modal{
        min-height: 85%;
        min-width: 95%;
    }
    .modal .modal-content{
        padding: 0px;

    }

    .plusinfo{
        text-align:center;
    }
    .plusinfo a{
        display:inline-block;
        margin:0;
        float:none;
    }


    .col-validation,
    .col-date,
    .col-administrateur,
    .col-publication,
    .col-auteur,
    .modobs-avatar,
    .col-comSignalisation,
    .col-comDate,
    .col-comArticle,
    .col-comCom,
    .comunsignal,
    .comdelete{
        display: none;
    }
    .col-action{
        width: 20%;
    }

    .imagearticle{
        width : 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top : 0;
    }

    .imagearticles{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .imagearticlesmobile{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 20px;
        display: inline-block;
    }

    #imagecentre{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .imagecentre{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


}
