
.bootstrap-datetimepicker-widget
{
    z-index: 1200   !important;
}

/* PAGE D'ACCUEIL */
.navbar
{
    margin-bottom: 0 !important;
}



/* PAGE AJOUT OBSERVATION */

#obs-title
{
    text-align: center;
    margin-bottom: 25px;
}

#map-text
{
    font-style: italic;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 15px;
}

#map-text p
{
    text-align: center;
}

/* PAGE VIEW D'OBSERVATIONS */

.titre-infowindow
{
    text-align: center;
    font-size: 0.9em;
}

.text-infowindow
{
    text-align: center;
    font-size: 0.75em;
}

.lat-lng
{
    font-size: 0.75em;
}

.pathObs
{
    font-size: 0.75em;
    margin-top: 10px;
    margin-left: 20%;
    width: 50px;
    color: black;
    text-decoration: none;
    text-transform: none;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    padding: 5px;
}

.gm-style-iw div {
    max-height: 200px !important;
    max-width: 300px !important;
}

/* CONTACT FORM */

#comments
{
    height: 260px !important;
    resize: none;
    overflow: auto;
}

#flashMsg
{
    margin-top: 35px;
}

.flashMsg
{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(42, 245, 48, 0.7);
    font-size: 1.2em;
    font-weight: bold;
}

.formbirthday .form-control{
    width: 75px;
    font-size: 1.0em;
    display: inline-block;
}



/* PAGE fos */

.fos_user_user_show
{
    margin-left: 50px;
    margin-right: 50px;
}

#fos_user_registration_form
{
    margin-left: 50px;
    margin-right: 50px;

}
#fos_user_change_password_form {
    margin-left: 50px;
    margin-right: 50px;
}
#fos_user_profile_form
{
    margin-left: 50px;
    margin-right: 50px;
}




/* MEDIA QUERIES */

@media all and (min-width: 1025px) {

    /* VIDEO PAGE ACCUEIL */
    #video-oiseaux
    {
        object-fit: initial;
        width: 100%;
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    .text-video
    {
        position: absolute;
        color: black;
        width: 20%;
        top: 80%;
        left: 38%;
        text-align: center;
        transition: 1s;
    }

    .text-video:hover
    {
        transform: scale(1.2);
    }

    .text-video p
    {
        background-color: rgba(255, 255, 255, 0.70);
        border-radius: 5px;
        padding: 10px;
        margin: auto;
    }

    .text-video a
    {
        color: black;
        text-decoration: none;
    }

}
@media all and (max-width: 1024px)
{
    #video-oiseaux
    {
        display: none;
    }

    .text-video
    {
        display: none;
    }


}

