html{
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.police32{
    font-size: 20px !important;
}

.brand-logo img {
    width: 266px
}

.profil{
padding: 10px;
}

nav li:hover {
    background-color: #cddc39;
}
.dropdown-content li:hover {
    background-color: #cddc39;
}
.waves-effect.waves-rednao .waves-ripple {
    background-color: #bf360c;
}


h1{
    font-size: 50px !important;
}

.bootstrap-datetimepicker-widget
{
    z-index: 1200   !important;
}

/* PAGE D'ACCUEIL */
.navbar
{
    margin-bottom: 0 !important;
}

.container_accueil
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px !important;
    border-radius: 3px;
    min-width: 85% !important;
}

.container_accueil .row
{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.encart_accueil
{
    height: 150px;
    padding: 0 !important;
    display: flex;
}

.encart_accueil > div
{
    width: 50%;

}

.encart_accueil p
{
    margin: 0;
    padding-top: 17%;
    color: white;
    text-align: center;
    font-size: 30px;
}


.carte_interactive
{
    width: 100%;
    height: 150px;
}

.oiseau_encart_deux
{
    width: 100%;
    height: 150px;
}

.hr_encart
{
    border-color: #afb42b;
}

.titre_nao
{
    font-size: 100px;
}

.block_central
{
    display: flex;
    font-size: 16px;
}

.text_gauche
{
    max-width: 30%;
    text-align: justify;
    padding-right: 15px;
}

.text_droite
{
    max-width: 30%;
    text-align: justify;
    padding-left: 15px;
}

.image_centrale
{
    margin: auto;
}

.accueil_peroquet
{
    width: 480px;
    height:310px;
}

.accueil_block_deux h4
{
    font-size: 20px;
    font-weight: bold;
}

.accueil_last_text p
{
    font-size: 16px;
    text-align: justify;
}

.last_block
{
    margin-top: 25px;
}

.devenir_naturaliste
{
    width: 100%;
    height: 150px;
}

.facebook
{
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
}

.logo_facebook
{
    width: 120px;
    height: 150px;
}

.facebook p
{

    padding-top: 28% !important;
}

.footer
{

    display: flex;
    min-height: 10%;
    width: 100%;
    justify-content: space-between;
}

#logo_et_nom
{
    display: inherit;
}

.logo_footer
{
    height: 200px;
    width: 200px;

}

.nom_footer
{
    height: 100px;
    width: 250px;
}

.nom_footer p
{
    font-size: 20px;
    color: white;
}

.list_footer
{
    color: white;
}

.list_footer span
{
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 20px;
}

.list_footer a
{
    text-decoration: none;
    color: white;
}

.newsletter_facebook
{
    display: flex;
}

.block_middle
{
    padding-left: 10%;
    margin: auto;
}

.block_right
{
    padding-left: 10%;
    margin: auto;
}

.block_right a
{
    color: white;
    text-decoration: none;
}

.newsletter_facebook img
{
    width: 55px;
    height: 55px;
}

.newsletter_facebook p
{
    font-size: 20px;
    color: white;
    margin: auto;
}

/* PAGE AJOUT OBSERVATION */

#obs-title
{
    text-align: center;
    margin-bottom: 25px;
}

#map-text
{
    font-style: italic;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 15px;
}

#map-text p
{
    text-align: center;
}


/* PAGE VIEW D'OBSERVATIONS */

.text-map
{
    text-align: center;
    padding-top: 45%;
    font-size: 1.2em;
    font-weight: bold;
}

.titre-infowindow
{
    text-align: center;
    font-size: 0.9em;
}

.text-infowindow
{
    text-align: center;
    font-size: 0.75em;
}

.lat-lng
{
    font-size: 0.75em;
}

.pathObs
{
    font-size: 0.75em;
    margin-top: 10px;
    margin-left: 20%;
    width: 50px;
    color: black;
    text-decoration: none;
    text-transform: none;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    padding: 5px;
}

.gm-style-iw div {
    max-height: 200px !important;
    max-width: 300px !important;
}

.text-identifier
{
    margin-top: 10px;
    font-style: italic;
}

/* CONTACT FORM */

.titre_nous_contacter
{
    margin-bottom: 50px;
}

.container_contact
{
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.input-field label {
    color: #c0ca33;
    font-size: 20px;
}

.input-field input[type=text] {

    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=email] {
    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=text].valid
{
    border-bottom: 2px solid #c0ca33;
}

.input-field input[type=email].valid
{
    border-bottom: 2px solid #c0ca33;
}

.input-field textarea{
    border-bottom: 2px solid #c0ca33;
}

.input-field textarea.valid
{
    border-bottom: 2px solid #c0ca33;
}

.valider_contact
{
    display: block;
    margin-left: auto;
}


.formbirthday .form-control{
    width: 75px;
    font-size: 1.0em;
    display: inline-block;
}

/* PAGE fos */

.fos_user_user_show
{
    margin-left: 50px;
    margin-right: 50px;
}

#fos_user_registration_form
{
    margin-left: 50px;
    margin-right: 50px;

}
#fos_user_change_password_form {
    margin-left: 50px;
    margin-right: 50px;
}
#fos_user_profile_form
{
    margin-left: 50px;
    margin-right: 50px;
}

/* PAGE DASHBOARD */

.block-icone
{
    text-align: center;
    margin-bottom: 30px;
}

.div-icone-user
{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: auto;
}

.icone-user
{
    width: 30px;
    height: 30px;
    margin: auto;
}



/* MEDIA QUERIES */

@media all and (min-width: 1025px) {

    /* VIDEO PAGE ACCUEIL */
    #video-oiseaux
    {
        object-fit: initial;
        width: 100%;
        height: 95vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    .text-video
    {

        position: absolute;
        bottom: 20%;

        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 170px;
        font-size: 20px;
        text-transform: lowercase;
        transition: 1s;
    }

    .text-video:hover
    {
        transform: scale(1.3);
    }

    .chevron-down
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 50px;
        height: 100px;
    }

    .image_petit_ecran
    {
        display: none;
    }


}
@media all and (max-width: 1024px)
{
    /* PAGE D'ACCUEIL */

    #video-oiseaux
    {
        display: none;
    }
    
    .image_petit_ecran
    {
        display: inherit;
        object-fit: initial;
        width: 100%;
        height: 95vh;
        margin: 0 !important;
        padding: 0 !important;
    }

    .text-video
    {

        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        width: 170px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        text-transform: lowercase;
    }


    .chevron-down
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 100px;
    }

    .encart_accueil
    {
        display: none;
    }

    .container_accueil
    {
        display: flex;
        flex-direction: column;
    }

    .block_central
    {
        display: initial;
    }

    .text_gauche
    {
        max-width: 100%;
        padding: 0;
    }

    .text_droite
    {
        max-width: 100%;
        padding: 0;
    }

    .accueil_peroquet
    {
        width: 100%;
    }

    .footer
    {
        display: flex;
        flex-direction: column;
    }

    .logo_footer
    {
        margin: auto;
    }

    .nom_footer
    {
        display: none;
    }

    .block_middle
    {
        margin: initial;
    }

    .block_right
    {
        margin: initial;
        margin-bottom: 25px;
    }

    .block_right p
    {
        margin: initial;
        padding-top: 15px;
    }

    /* ================================== */
}

