{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Actualités. Ajouter une observation.
{% endblock %}
{% block titre %}ajout d'une observation{% endblock %}
{% block googleMapScript %}
    <script src="{{ asset('js/addObservationMap.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('js/addObsCompletion.js') }}"></script>

{% endblock %}
{% block content %}
<div class="container container_add_obs blue-grey lighten-5">
    <div class="row">
        <h1 id="obs-title" class="lime-text text-darken-1 h1form">Nouvelle observation</h1>
        {% include 'AddObservation/form.html.twig' %}
    </div>
</div>
{% endblock %}
