
{% block modalcontent %}
<form method="post" action="{{ path('addComment', {'slug': article.slug}) }}">
    <h1 class="lime-text text-darken-2 h1comment">Ecrire un commentaire</h1>
    <div>
        <div class="row">



            <div class="input-field col s10 offset-s1">
                <textarea id="appbundle_comment_content" type="text" name="appbundle_comment[content]" class="materialize-textarea"></textarea>
                <label for="appbundle_comment_content">votre commentaire</label>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col s6 offset-s1">
            <button class="btn-large waves-effect waves-light deep-orange darken-4" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i>
                Enregistrer
            </button>
        </div>
    </div>
    {{ form_widget(form._token) }}

</form>
{% endblock %}
