{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Modifier un article.
{% endblock %}
{% block titre %}Modifier un article{% endblock %}
{% block addActuScript %}
{% endblock %}
{% block content %}

<div class="containertemplate">

    <div class="editactualite col m10 blue-grey lighten-5 offset-m1 left-align z-depth-2">

        <div class="row">
            <div class="col m10 offset-m1 left-align">
                <h1 class="lime-text text-darken-2 h1form"> Modifier un article</h1>
            </div>
        </div>


        <div class="row">
            <div class="col m10 offset-m1 left-align">

                {# On définit un nouveau bloc, que les vues de l'application pourront remplir #}
                {% block app_body %}
                    {{ include("Actualites/formEdit.html.twig") }}
                {% endblock %}
            </div>
        </div>

    </div>

</div>

{% endblock %}

